// ### Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// ### Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$font-weight: (
  'regular': 300,
  'medium': 400,
  'bold': 700,
);

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

$media-md-padding : 8rem